{% extends 'dashboard.html' %}
 {% load static %}
 {% load humanize %}

{% block main %}
    <div class="row">
    	<div class="col-sm-12">
    		<section class="card">
            	<header class="card-header">
                  	Crear Banco
            	</header>
              	<div class="card-body">
              		<form action="{% url 'crear-banco' %}" method="POST">
              			{% csrf_token %}
              			{{ form.as_p }}
              			<button type="submit" class="btn btn-primary">Crear</button>	
              		</form>

              	</div>
          	</section>
      	</div>
  </div>

{% endblock %}

{% block js %}
	
{% endblock js %}