{% extends 'dashboard.html' %}
 {% load static %}
 {% load humanize %}
{% block css %}
	  <!--dynamic table-->
    <link href="{% static 'assets/advanced-datatable/media/css/demo_page.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/advanced-datatable/media/css/demo_table.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/data-tables/DT_bootstrap.css' %}" />
{% endblock css %}

{% block main %}
              <div class="row">
                <div class="col-sm-12">
              <section class="card">
              <header class="card-header">
                  Compras Pendientes Loteria
             </span>
              </header>
              <div class="card-body">
              <div class="adv-table">
              <table  class="display table table-bordered table-striped table-responsive" id="dynamic-table">
              <thead>
              <tr>
                <th>fecha</th>
                <th>Cant.</th>
                <th>Banco</th>
                  <th>Cuenta</th>
                  <th>Referencia</th>
                  <th>Cliente</th>
                  <th>Id Cliente</th>
                  <th>Acción</th>
                  
              </tr>
              </thead>
              <tbody>
                {% for p in object_list  %}
                  <tr>
                    <td>{{ p.fecha }}</td>
                    <td>{{ p.cantidad }}</td>
                    <td>{{ p.banco }}</td>
                    <td>{{ p.cuenta }}</td>
                  <td>{{ p.referencia }}</td>
                  <td>{{ p.cliente.nombre }} {{ p.cliente.apellido }}</td>
                  <td>{{ p.cliente.pk }}</td>                
                  <td class="td-actions text-right" width="120px">
                      <a type="button" rel="tooltip" class="btn btn-info" href="{% url 'ver-compra' pk=p.id %}">
                          <i class="fa fa-eye"></i>
                      </a>
                      <button type="button" rel="tooltip" class="btn btn-success"  onclick="deleteCompra('{{p.id}}','{{p.referencia}}');">
                          <i class="fa fa-trash-o"></i>
                      </button>

                  </td>
                </tr>
                  {% empty%}
                  <tr>
                    <td>No hay Registros</td> 
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>                   
                    <td>.</td>                   
                    <td>.</td>
                    <td>.</td>
                  </tr>

                {% endfor %}


              </tbody>
              </table>
              </div>
              </div>
              </section>
              </div>
              </div>
{% endblock %}

{% block js %}
	   <script type="text/javascript" language="javascript" src="{% static 'assets/advanced-datatable/media/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/data-tables/DT_bootstrap.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}" ></script>
    <!--dynamic table initialization -->
    <script src="{% static "js/dynamic_table_init.js" %}"></script>
    <script>
    function deleteCompra(pk, name) {   
      option = confirm("Estas seguro de eliminar la Referencia " + name);
      if (option){ $.post("{% url 'delete-compras' 1234 %}".replace(/1234/, pk.toString()), {csrfmiddlewaretoken: '{{ csrf_token }}'}).done(function(){ location.reload(); }); }
    }

    $( document ).ready(function() {
      console.log( "ready!" );
      $('#dynamic-table_length').hide();
    });    
  </script>
{% endblock js %}