{% load static %}
<style type="text/css">

	.carton-n {
		-webkit-transform:rotateZ(0deg);
		-moz-transform:rotateZ(0deg);
		-o-transform:rotateZ(0deg);
		transform:rotateZ(0deg);
		}
	
		.carton-n2 {
		-webkit-transform:rotateZ(0deg);
		-moz-transform:rotateZ(0deg);
		-o-transform:rotateZ(0deg);
		transform:rotateZ(0deg);
		}
	
		.carton-n2 {
		margin:0px auto;
		width:320px;
		height:470px;
		-webkit-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-o-background-size: 100% 100%;
		background-size: 100% 100%;
		}
		
		.texto-carton {
		font: bold 14px 'Arial';
		background:transparent;
		color:#222222;
		margin-top:7px;
		text-align:center;
		-webkit-text-shadow: 0px 0px 3px #ffffff;
		-moz-text-shadow: 0px 0px 3px #ffffff;
		-o-text-shadow: 0px 0px 3px #ffffff;
		text-shadow: 0px 0px 3px #ffffff;
		}
		
		.texto-carton2 {
		font: bold 14px 'Arial';
		background:transparent;
		color:#222222;
		margin-top:7px;
		text-align:center;
		-webkit-text-shadow: 0px 0px 3px #ffffff;
		-moz-text-shadow: 0px 0px 3px #ffffff;
		-o-text-shadow: 0px 0px 3px #ffffff;
		text-shadow: 0px 0px 3px #ffffff;
		}
		
		.logo-carton2 {
		position:relative;
		left:42.566666666666666666666666666667%;
		top:-71.2%;
		width:15%;
		height:10.9%;
		background:transparent;
		overflow:hidden;
		background-image:url('medida. 2.png');
		-webkit-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-o-background-size: 100% 100%;
		background-size: 100% 100%;
		}
		
		.INFO-CARTON {
		margin:0px auto;
		background:rgb(247,245,252);
		border:2px dotted rgb(195,195,195);
		text-align:center;
		font:bold 1.2em 'Arial';
		color:rgb(127,127,127);
		position:absolute;
		left:0px;
		top:-15px;
		width:99%;
		}
		
		.LOGO-INFO {
		margin:0px auto;
		background:transparent;
		height:120px;
		overflow:hidden;
		}
		
		.LOGO-INFO-DIV {
		margin:0px auto;
		width:85%;
		border-bottom:1px dotted rgb(195,195,195);
		}
</style>
	<div style="width: 100%;text-align: center;">
		<h1 style="color: white;font-weight: bold;">{{figura}}</h1><br>	
		<div style="width: 100%;display: flex;justify-content: center;align-content: center;flex-wrap: wrap;">
		{% for carton in  cartones%}
		<div class="carton-n2">
			<div id="carton-n2" style="position:relative;left:0px;top:0px;width:100%;height:100%;text-align:left;">
				<img id="CARTON" src="/media/{{ fondo }}" style="position:absolute;left:0px;top:0px;width:100%;height:100%;"></img>
				<div id="ct0" style="position: absolute; width: 15.3333%; height: 18.3333%; background: transparent; overflow: hidden; left: 17.6667%; top: 19.7619%;">
					<img  src="{% static 'cards-masters/' %}{{ carton.carton.l1_1 }}.png" style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;">					
				</div>
				<div id="ct1" style="position: absolute; width: 15.6667%; height: 18.3333%; background: transparent; overflow: hidden; left: 34%; top: 19.7619%;">
					<img  src="{% static 'cards-masters/' %}{{ carton.carton.l1_2 }}.png" style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;">					
				</div>
				<div id="ct2" style="position: absolute; width: 15.6667%; height: 18.3333%; background: transparent; overflow: hidden; left: 50.3333%; top: 19.7619%;">
					<img  src="{% static 'cards-masters/' %}{{ carton.carton.l1_3 }}.png" style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;">					
				</div>
				<div id="ct3" style="position: absolute; width: 15.6667%; height: 18.3333%; background: transparent; overflow: hidden; left: 67%; top: 19.7619%;">
					<img  src="{% static 'cards-masters/' %}{{ carton.carton.l1_4 }}.png" style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;">					
				</div>
				<div id="ct4" style="position: absolute; width: 15.3333%; height: 18.3333%; background: transparent; overflow: hidden; left: 17.6667%; top: 38.5714%;">
					<img  src="{% static 'cards-masters/' %}{{ carton.carton.l2_1 }}.png" style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;">					
				</div>
				<div id="ct5" style="position: absolute; width: 15.6667%; height: 18.3333%; background: transparent; overflow: hidden; left: 34%; top: 38.5714%;">
					<img  src="{% static 'cards-masters/' %}{{ carton.carton.l2_2 }}.png" style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;">					
				</div>
				<div id="ct6" style="position: absolute; width: 15.6667%; height: 18.3333%; background: transparent; overflow: hidden; left: 50.3333%; top: 38.5714%;">
					<img  src="{% static 'cards-masters/' %}{{ carton.carton.l2_3 }}.png" style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;">					
				</div>
				<div id="ct7" style="position: absolute; width: 15.6667%; height: 18.3333%; background: transparent; overflow: hidden; left: 67%; top: 38.5714%;">
					<img  src="{% static 'cards-masters/' %}{{ carton.carton.l2_4 }}.png" style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;">					
				</div>
				<div id="ct8" style="position: absolute; width: 15.6667%; height: 18.5714%; background: transparent; overflow: hidden; left: 17.3333%; top: 57.381%;">
					<img  src="{% static 'cards-masters/' %}{{ carton.carton.l3_1 }}.png" style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;">					
				</div>
				<div id="ct9" style="position: absolute; width: 15.6667%; height: 18.5714%; background: transparent; overflow: hidden; left: 34%; top: 57.381%;">
					<img  src="{% static 'cards-masters/' %}{{ carton.carton.l3_2 }}.png" style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;">					
				</div>
				<div id="ct10" style="position: absolute; width: 15.6667%; height: 18.5714%; background: transparent; overflow: hidden; left: 50.3333%; top: 57.381%;">
					<img  src="{% static 'cards-masters/' %}{{ carton.carton.l3_3 }}.png" style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;">					
				</div>
				<div id="ct11" style="position: absolute; width: 15.6667%; height: 18.5714%; background: transparent; overflow: hidden; left: 67%; top: 57.381%;">
					<img  src="{% static 'cards-masters/' %}{{ carton.carton.l3_4 }}.png" style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;">					
				</div>
				<div id="ct12" style="position: absolute; width: 15.6667%; height: 18.5714%; background: transparent; overflow: hidden; left: 17.3333%; top: 76.4286%;">
					<img  src="{% static 'cards-masters/' %}{{ carton.carton.l4_1 }}.png" style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;">					
				</div>
				<div id="ct13" style="position: absolute; width: 15.6667%; height: 18.5714%; background: transparent; overflow: hidden; left: 34%; top: 76.4286%;">
					<img  src="{% static 'cards-masters/' %}{{ carton.carton.l4_2 }}.png" style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;">					
				</div>
				<div id="ct14" style="position: absolute; width: 15.6667%; height: 18.5714%; background: transparent; overflow: hidden; left: 50.3333%; top: 76.4286%;">
					<img  src="{% static 'cards-masters/' %}{{ carton.carton.l4_3 }}.png" style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;">					
				</div>
				<div id="ct15" style="position: absolute; width: 15.6667%; height: 18.5714%; background: transparent; overflow: hidden; left: 67%; top: 76.4286%;">
					<img  src="{% static 'cards-masters/' %}{{ carton.carton.l4_4 }}.png" style="position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;">					
				</div>
				<div class="INFO-CARTON">
					TABLA: {{carton.pk}} | FECHA:{{carton.propietario.partida.fecha|date:"d/m/y" }}
				</div>
			</div>
		</div>  
		{% empty %}
			<h3>No Encontrado</h3>
		{% endfor %}	
	</div>	
	</div>