POSTGRES_DB=softandplay
POSTGRES_USER=softandplay
POSTGRES_PASSWORD=CAMBIAR_POR_UNA_CLAVE_LARGA_Y_UNICA
DJANGO_SECRET_KEY=CAMBIAR_POR_UNA_CLAVE_CRIPTOGRAFICAMENTE_ALEATORIA
DJANGO_ALLOWED_HOSTS=appsoftandplay.com,www.appsoftandplay.com
CSRF_TRUSTED_ORIGINS=https://appsoftandplay.com,https://www.appsoftandplay.com
CORS_ALLOWED_ORIGINS=https://appsoftandplay.com,https://www.appsoftandplay.com
DJANGO_TIME_ZONE=America/Bogota
DJANGO_LANGUAGE_CODE=es-co
EMAIL_HOST=smtpout.secureserver.net
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
