
 {% load static %}

<div style="width:450px;margin: auto;">
<img src="http://gran.bingo/{% config.logo_horizontal %}"><br><br>
<h3>Amaras tu suerte!!!</h3>
<p>Hola {{ user.get_full_name }}, tenemos la grata oportunidad de informarte que fuistes aceptado en nuestra plataforma como nuestro aliado, lo cual te permite tener um panel administrativo donde podras vender nuestras tablas y participar en nuestros sorteos</p>
<p>Atentamente el equipo de <a href="http://gran.bingo">Gran.Bingo</a></p>
</div>