{% extends 'dashboard.html' %}
 {% load static %}
 {% load humanize %}
{% load thumbnail %}
{% block title %}
Gran.Bingo 
{% endblock title %}
{% block css %}
	  <!--dynamic table-->
    <link href="{% static 'assets/advanced-datatable/media/css/demo_page.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/advanced-datatable/media/css/demo_table.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/data-tables/DT_bootstrap.css' %}" />
{% endblock css %}

{% block main %}
              <div class="row">
                <div class="col-sm-12">
              <section class="card">
              <header class="card-header">
                  Solicitudes Pendientes
             <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
              </header>
              <div class="card-body">
              <div class="adv-table">
              <table  class="display table table-bordered table-striped table-responsive" id="dynamic-table">
              <thead>
              <tr>
                  <th></th>
                  <th>Username</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Tipo User.</th>
                  <th>Acción</th>
                  
              </tr>
              </thead>
              <tbody>
                {% for p in object_list  %}
                  <tr>
                    <td class="text-center">
                        {% thumbnail p.userprofile.thumb "32x32" crop="center" as im %}
                           <img  class="img-border" src=
                              "{{ im.url }}">   
                        {% endthumbnail %}                        
                    </td>
                  <td>{{ p.username }}</td>
                  <td>{{ p.get_full_name }}</td>
                  <td>{{ p.email }}</td>
                  <td>
                    {% if p.is_superuser %} Administrador 
                    {% elif p.is_staff %} Revendedor
                    {% else %} Usuario
                    {% endif %}
                  </td>
                  <td class="td-actions text-right" width="120px">
                      <a type="button" rel="tooltip" class="btn btn-info" href="{% url 'solicitud' pk=p.id %}">
                          <i class="fa fa-eye"></i>
                      </a>
                      <button type="button" rel="tooltip" class="btn btn-success"  onclick="deleteUser('{{p.id}}','{{p.get_full_name}}');">
                          <i class="fa fa-trash-o"></i>
                      </button>

                  </td>
                </tr>
                  {% empty%}
                  <tr>
                    <td>No hay Registros</td> 
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                  </tr>

                {% endfor %}


              </tbody>
              </table>
              </div>
              </div>
              </section>
              </div>
              </div>
{% endblock %}

{% block js %}
	   <script type="text/javascript" language="javascript" src="{% static 'assets/advanced-datatable/media/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/data-tables/DT_bootstrap.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}" ></script>
    <!--dynamic table initialization -->
    <script src="{% static "js/dynamic_table_init.js" %}"></script>
    <script>
    function deleteUser(pk, name) {
      alert(name);
      option = confirm("Estas seguro de eliminar a " + name);
      if (option){
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = "{% url 'user-delete' 1234 %}".replace(/1234/, pk.toString());
        var csrf = document.createElement('input');
        csrf.type = 'hidden'; csrf.name = 'csrfmiddlewaretoken';
        csrf.value = '{{ csrf_token }}';
        form.appendChild(csrf); document.body.appendChild(form); form.submit();
      }
    }

    $( document ).ready(function() {
      console.log( "ready!" );
      $('#dynamic-table_length').hide();
    });
  </script>
{% endblock js %}
