{% extends "login.html" %}
{% load crispy_forms_tags %}


{% block css %}
<style>
  button{
    width: 320px;
  }
  input{
    width: 310px;
  }
  label{color: #fff}
    .registro{background-color: rgba(0,0,0,.4);color:#fff;}
    ul{text-align: left !important;}
    input{color: #000}
  </style>
</style>
{% endblock css %}
    
{% block main %}
  
  
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
           <legend class="border-bottom mb-4" style="color:#fff;">Reset Password</legend>
           {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        </div>
     </form>
     {% endblock main %}

{% block js %}
<script type="text/javascript">
       $('#id_email').attr("placeholder", "Escribe tu email");
       $('#id_email').addClass('form-control');
       $('button').removeClass('btn-outline-info');

</script>
{% endblock js %}