{% extends "login.html" %}
{% load crispy_forms_tags %}
{% block css %}
  <style type="text/css">
    button{
    width: 320px;
  }
  input{
    width: 310px;
  }
    label{color: #fff}
    .registro{background-color: rgba(0,0,0,.4);color:#fff;}
    ul{text-align: left !important;}
    input{color: #000}
    ul li {
      color:white;
      font-size: 0.5em;
    }
  </style>
{% endblock css %}
{% block main %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
           <legend class="border-bottom mb-4" style="color:#fff;">Cambiar Password</legend>
           {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Cambiar Password</button>
        </div>
     </form>
{% endblock main %} 