      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                      <a href="/">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
      
                  <li>
                      <a href="/messages/">
                          <i class="fa fa-user"></i>
                          <span>Mensajes</span>
                      </a>
                  </li>                  
                  <li>
                      <a href="{% url 'mis-ganadores' %}">
                          <i class="fa fa-user"></i>
                          <span>Mis Ganadores</span>
                      </a>
                  </li>                  
                  <li>
                      <a href="/logout/">
                          <i class="fa fa-user"></i>
                          <span>Salir</span>
                      </a>
                  </li>                  
             
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>