{% extends 'dashboard.html' %}
 {% load static %}
 {% load humanize %}

{% block main %}
    <div class="row">
    	<div class="col-sm-12">
    		<section class="card">
            	<header class="card-header">
                  	Crear Partida
            	</header>
              	<div class="card-body">
              		<form action="{% url 'crear-partida' %}" method="POST">
              			{% csrf_token %}
              			{{ form.as_p }}
              			<button type="submit" class="btn btn-primary">Crear</button>	
              		</form>

              	</div>
          	</section>
      	</div>
  </div>

{% endblock %}

{% block js %}
	<script type="text/javascript">

$( "form" ).submit(function( event ) {
  
	for(i=1;i<=10;i++){
			if($('#id_porciento_'+i).val()==''){
				$('#id_porciento_'+i).val(0);
			}
		}
		if($('#id_monto_carton').val()==''){
				$('#id_monto_carton').val(0);
			}
});



$(document).on("input", ".numeric", function() {
    this.value = this.value.replace(/\D/g,'');
});
  </script>
{% endblock js %}