{% extends 'dashboard.html' %}
 {% load static %}
 {% load humanize %}

{% block main %}
    <div class="row">
    	<div class="col-sm-12">
    		<section class="card">
            	<header class="card-header">
                  	Editar Loteria Chance
            	</header>
              	<div class="card-body">
              		<form action="{% url 'update-chance' pk=lotochance.pk %}" enctype="multipart/form-data" method="POST">
              			{% csrf_token %}
              			{{ form.as_p }}
              			<button type="submit" class="btn btn-primary">Guardar</button>	
              		</form>
              	</div>
          	</section>
      	</div>
  </div>

{% endblock %}

{% block js %}
	
{% endblock js %}